@include font-face("Rubik Gemstones", 400, normal, url("../../fonts/rubik-gemstones/rubik-gemstones-regular.woff2") format("woff2"));
@include font-face("Rubik Gemstones", 400, normal, url("../../fonts/rubik-gemstones/rubik-gemstones-regular.woff") format("woff"));
@include font-face("Playfair Display", 400, normal, url("../../fonts/playfair-display/playfair-display-regular.woff2") format("woff2"));
@include font-face("Playfair Display", 400, normal, url("../../fonts/playfair-display/playfair-display-regular.woff") format("woff"));
@include font-face("Playfair Display", 700, normal, url("../../fonts/playfair-display/playfair-display-bold.woff2") format("woff2"));
@include font-face("Playfair Display", 700, normal, url("../../fonts/playfair-display/playfair-display-bold.woff") format("woff"));
@include font-face("Roboto Condensed", 400, normal, url("../../fonts/roboto-condensed/roboto-condensed-regular.woff2") format("woff2"));
@include font-face("Roboto Condensed", 400, normal, url("../../fonts/roboto-condensed/roboto-condensed-regular.woff") format("woff"));
