.button {
  min-width: size(180px);
  font-family: $ff-second;
  line-height: 1.43;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: inherit;
  background-color: $background-button;
  padding: size(15px) size(20px);
  border: 1px dashed $color-liner;
  border-radius: $picture-radius;
  box-shadow:
    0 7px 18px -15px rgba(247, 247, 247, 0.04),
    0 20px 20px 0 rgba(247, 247, 247, 0.05),
    0 24px 19px -30px rgba(247, 247, 247, 0.25);

  @include max-tablet {
    border-radius: 12px;
  }

  @include tablet {
    width: size-tablet(180px);
    font-size: size-tablet($fz-tablet);
    padding: size-tablet(10px) size-tablet(15px);
  }

  @include mobile {
    width: 100%;
    min-width: unset;
    font-size: size-mobile($fz-tablet);
    padding: size-mobile(15px) size-mobile(10px);
  }

  &:hover,
  &:focus,
  &:focus-visible {
    filter:
      drop-shadow(5px 5px 5px rgba(143, 252, 104, 0.3)) hue-rotate(10deg);
    border: 1px dashed transparent;
  }
}
