.button {
  width: size(180px);
  font-family: $ff-second;
  line-height: 1.43;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: inherit;
  background-color: $background-button;
  padding: size(15px) size(20px);
  border: 1px dashed $color-liner;
  border-radius: $picture-radius;
  box-shadow:
      0 7px 18px -15px rgba(177, 224, 227, 0.04),
      0 20px 20px 0 rgba(177, 224, 227, 0.05),
      0 24px 19px -30px rgba(177, 224, 227, 0.25);
}
