.certificates {
  margin-bottom: size(80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: size(50px);

  @include mobile {
    margin-bottom: size-mobile(40px);
  }

  &__list {
    width: max-content;
    margin: 0 auto;
    padding: size(50px);
    list-style: none;
    background-color: $background-section;
    border-radius: $section-radius;

    @include max-tablet {
      width: 100%;
    }

    @include tablet {
      padding: size-tablet(25px);
    }

    @include mobile {
      padding: size-mobile(20px);
      flex-direction: column;
      row-gap: size-mobile(10px);
    }
  }

  &__link {
    font-family: $ff-second;
    line-height: 1.43;
    color: $color-second;
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: opacity 0.5s ease;

    @include tablet-etalon {
      br {
        display: none;
      }
    }

    @include tablet {
      font-size: size-tablet($fz-tablet);
    }

    @include mobile {
      font-size: size-mobile($fz-mobile);

      span {
        display: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: size(-3px);
      width: 100%;
      height: 2px;
      background: repeating-linear-gradient(90deg,
          currentColor,
          currentColor size(5px),
          transparent size(5px),
          transparent size(8px));
      clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
      transition: clip-path 0.5s cubic-bezier(0.65, 0, 0.35, 1);

      @include tablet {
        background: repeating-linear-gradient(90deg,
            currentColor,
            currentColor size-tablet(5px),
            transparent size-tablet(5px),
            transparent size-tablet(8px));
      }
    }

    @include tablet-etalon {
      &:hover,
      &:focus,
      &:focus-visible {
        opacity: 0.8;
      }

      &:hover::after,
      &:focus::after,
      &:focus-visible::after {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
  }
}

.certificates__list.section-closed {
  display: none;
}

.certificates__list.section-opened {
  display: block;

  @include mobile {
    display: flex;
  }
}
