.footer {
  &__wrapper {
    font-family: $ff-second;
    color: $color-second;
    padding-bottom: size(40px);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__note {
    font-size: size(20px);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: size(5px);
  }

  &__contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: size(25px);

    a {
      line-height: 1.43;
      text-decoration-style: dashed;
      text-decoration-thickness: 1px;
      text-underline-offset: size(5px);
      color: inherit;
      display: block;
      transition: transform 0.3s ease;
      will-change: transform;

      &:hover,
      &:focus,
      &:focus-visible {
        transform: rotate(3deg) translate(5px);
      }
    }
  }

  &__contacts-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: size(8px);
  }
}
