.footer {
  &__wrapper {
    font-family: $ff-second;
    color: $color-second;
    padding-bottom: size(40px);
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include tablet {
      font-size: size-tablet($fz-mobile);
      padding-bottom: size-tablet(30px);
    }

    @include mobile {
      font-size: size-mobile($fz-tablet);
      flex-direction: column;
      align-items: flex-start;
      row-gap: size-mobile(20px);
    }
  }

  &__copyright {
    @include mobile {
      font-size: size-mobile($fz-mobile);
      margin: 0;
    }
  }

  &__note {
    font-size: size(20px);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: size(5px);

    @include tablet {
      font-size: size-tablet($fz-tablet);
      text-underline-offset: size-tablet(5px);
    }

    @include mobile {
      font-size: size-mobile(18px);
      margin: 0;
    }
  }

  &__contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: size(25px);

    @include tablet {
      gap: size-tablet(15px);
    }

    @include mobile {
      flex-direction: column;
      gap: size-mobile(16px);
    }

    a {
      line-height: 1.43;
      text-decoration-style: dashed;
      text-decoration-thickness: 1px;
      text-underline-offset: size(5px);
      color: inherit;
      display: block;
      transition: transform 0.3s ease;
      will-change: transform;

      @include tablet {
        text-underline-offset: size-tablet(5px);
      }

      &:hover,
      &:focus,
      &:focus-visible {
        transform: rotate(3deg) translate(5px);
      }
    }
  }

  &__contacts-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: size(8px);

    @include tablet {
      gap: size-tablet(5px);
    }
  }
}
