.header {
  margin-bottom: size(40px);
  padding-bottom: size(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed $color-liner;

  @include tablet {
    margin-bottom: size-tablet(30px);
    padding-bottom: size-tablet(15px);
  }

  @include mobile {
    margin-bottom: size-mobile(20px);
    padding-bottom: size-mobile(15px);
    flex-direction: column;
    row-gap: size-mobile(20px);

    &__logo {
      align-self: flex-start;
    }
  }

  &__label {
    font-family: $ff-extra;
    font-size: size(48px);
    margin: 0;
    margin-right: size(300px);

    @include max-tablet {
      margin: 0;
    }

    @include tablet {
      font-size: size-tablet(25px);
    }

    @include mobile {
      font-size: size-mobile(25px);
    }
  }
}
