.logo {
  display: flex;
  align-items: center;
  column-gap: size(20px);

  &__link {
    border-radius: $picture-radius;
    transition: transform 0.3s ease;
    will-change: transform;

    &:hover,
    &:focus,
    &:focus-visible {
      transform: rotate(-3deg) translate(5px);
    }
  }

  &__image {
    min-width: size(50px);
    height: size(50px);
    border-radius: 20px;
  }

  &__text {
    font-family: $ff-extra;
    font-size: size(32px);
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
    will-change: transform;

    &:hover,
    &:focus,
    &:focus-visible {
      transform: rotate(3deg) translate(5px);
    }
  }
}
