.logo {
  display: flex;
  align-items: center;

  @include desktop {
    column-gap: size(20px);
  }

  @include tablet {
    column-gap: size-tablet(20px);
  }

  @include mobile {
    width: 100%;
    justify-content: space-between;
  }

  &__link {
    border-radius: $picture-radius;
    transition: transform 0.3s ease;
    will-change: transform;

    @include mobile {
      width: size-mobile(40px);
      height: size-mobile(40px);
      border-radius: 12px;
    }

    &:hover,
    &:focus,
    &:focus-visible {
      transform: rotate(-3deg) translate(5px);
    }
  }

  &__image {
    min-width: size(50px);
    height: size(50px);
    border-radius: 20px;

    @include tablet {
      min-width: size-tablet(40px);
      height: size-tablet(40px);
    }

    @include mobile {
      width: size-mobile(40px);
      height: size-mobile(40px);
      border-radius: 12px;
    }
  }

  &__text {
    font-family: $ff-extra;
    font-size: size(32px);
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
    will-change: transform;

    @include tablet {
      font-size: size-tablet(25px);
    }

    @include mobile {
      font-size: size-mobile(20px);
    }

    &:hover,
    &:focus,
    &:focus-visible {
      transform: rotate(3deg) translate(5px);
    }
  }
}
