.page__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: size(20px) size(40px);

  @include tablet {
    padding: size-tablet(15px) size-tablet(20px);
  }

  @include mobile {
    padding: size-mobile(15px);
  }
}

.page__main {
  flex-grow: 1;
}
