.project {
  padding: size(50px);
  background-color: $background-section;
  border-radius: $section-radius;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(2, 1fr);
  gap: size(20px);

  @include max-tablet {
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: repeat(1, 1fr);
  }

  @include tablet {
    font-size: size-tablet(14px);
    padding: size-tablet(25px);
    gap: size-tablet(20px);
  }

  @include mobile {
    font-size: size-mobile(12px);
    gap: size-mobile(15px);
  }

  &__title {
    font-family: $ff-extra;
    font-size: size(32px);
    font-weight: inherit;
    margin: 0;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    opacity: 0;

    @include tablet {
      font-size: size-tablet(28px);
    }

    @include mobile {
      font-size: size-mobile(21px);
    }
  }

  &__card-content {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    align-self: center;

    @include tablet {
      display: grid;
      grid-template-rows: repeat(3, min-content);
      grid-template-columns: repeat(2, 1fr);
      column-gap: size-tablet(25px);
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      row-gap: size-mobile(15px);
    }
  }

  &__header {
    @include tablet {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }
  }

  &__meta {
    @include tablet {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }
  }

  &__subtitle,
  &__content {
    max-width: size(550px);
    line-height: 1.43;

    @include tablet {
      max-width: none;
    }
  }

  &__subtitle {
    @include tablet {
      margin-top: 0;
    }

    @include mobile {
      margin: 0;
      margin-bottom: size-mobile(10px);
    }
  }

  &__date {
    @include mobile {
      margin: 0;
    }
  }

  &__content {
    @include tablet {
      grid-row: 3 / 4;
      grid-column: 2 / 3;

      p {
        margin-bottom: 0;
      }
    }

    @include mobile {
      p {
        margin: 0;
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    row-gap: size(18px);

    @include tablet {
      row-gap: size-tablet(18px);
      align-self: flex-end;
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }

    @include mobile {
      row-gap: size-mobile(15px);
    }
  }

  &__actions-title {
    font-size: size(20px);
    font-weight: 400;
    margin: 0;

    @include tablet {
      font-size: size-tablet(18px);
    }

    @include mobile {
      font-size: size-mobile(15px);
    }
  }

  &__links {
    display: flex;
    gap: size(18px);
    overflow: hidden;
    margin: size(5px) 0;

    @include tablet {
      gap: size-tablet(15px);
      margin: size-tablet(5px) 0;
    }

    @include mobile {
      flex-direction: column;
      margin: size-mobile(5px) 0;
    }
  }

  &__link,
  &__card-image {
    opacity: 0;
  }

  &__link {
    transition: transform 0.3s ease;
  }

  &__card-image {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    @include tablet {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }

    @include mobile {
      display: none;
    }

    img {
      border-radius: $picture-radius;
    }

    &--one {
      width: size(695px);
      height: size(345px);

      @include desktop {
        img {
          width: size(695px);
          height: size(345px);
        }
      }

      @include tablet {
        width: size-tablet(678px);
        height: size-tablet(337px);
      }
    }

    &--two {
      width: size(679px);
      height: size(288px);

      @include desktop {
        img {
          width: size(679px);
          height: size(288px);
        }
      }

      @include tablet {
        width: size-tablet(678px);
        height: size-tablet(288px);
      }
    }

    &--three {
      width: size(690px);
      height: size(398px);

      @include desktop {
        img {
          width: size(690px);
          height: size(398px);
        }
      }

      @include tablet {
        width: size-tablet(678px);
        height: size-tablet(391px);
      }
    }

    &--four {
      width: size(601px);
      height: size(379px);

      @include desktop {
        img {
          width: size(601px);
          height: size(379px);
        }
      }

      @include tablet {
        width: size-tablet(678px);
        height: size-tablet(428px);
      }
    }

    &--five {
      width: size(667px);
      height: size(399px);

      @include desktop {
        img {
          width: size(667px);
          height: size(399px);
        }
      }

      @include tablet {
        width: size-tablet(678px);
        height: size-tablet(406px);
      }
    }

    &--six {
      width: size(700px);
      height: size(370px);

      @include desktop {
        img {
          width: size(700px);
          height: size(370px);
        }
      }

      @include tablet {
        width: size-tablet(678px);
        height: size-tablet(358px);
      }
    }

    &--seven {
      width: size(700px);
      height: size(399px);

      @include desktop {
        img {
          width: size(700px);
          height: size(399px);
        }
      }

      @include tablet {
        width: size-tablet(678px);
        height: size-tablet(386px);

        img {
          height: 100%;
          object-fit: fill;
        }
      }
    }
  }

  &__card-logo {
    @include tablet-etalon {
      display: none;
    }

    align-self: center;
    border-radius: 5px;
    opacity: 0;

    img {
      border-radius: 5px;
    }

    &--one {
      width: size-mobile(225px);
      height: size-mobile(78px);

      img {
        width: size-mobile(225px);
        height: size-mobile(78px);
      }
    }

    &--two {
      width: size-mobile(64px);
      height: size-mobile(65px);

      img {
        width: size-mobile(64px);
        height: size-mobile(65px);
      }
    }

    &--three {
      width: size-mobile(184px);
      height: size-mobile(54px);

      img {
        width: size-mobile(184px);
        height: size-mobile(54px);
      }
    }

    &--four {
      width: size-mobile(150px);
      height: size-mobile(49px);

      img {
        width: size-mobile(150px);
        height: size-mobile(49px);
      }
    }

    &--five {
      width: size-mobile(60px);
      height: size-mobile(60px);

      img {
        width: size-mobile(60px);
        height: size-mobile(60px);
      }
    }

    &--six {
      width: size-mobile(230px);
      height: size-mobile(80px);

      img {
        width: size-mobile(230px);
        height: size-mobile(80px);
      }
    }

    &--seven {
      width: size-mobile(210px);
      height: size-mobile(60px);

      img {
        width: size-mobile(210px);
        height: size-mobile(60px);
      }
    }
  }
}

.project.animated .project__link {
  transform: translateY(30px);
  animation: waveIn 0.8s forwards cubic-bezier(0.34, 1.56, 0.64, 1);
}

.project.animated .project__link:nth-child(1) {
  animation-delay: 0.3s;
}

.project.animated .project__link:nth-child(2) {
  animation-delay: 0.5s;
}

.project.animated .project__card-image {
  transform: translateX(50px) rotate(5deg);
  animation: slideIn 1s 0.7s forwards cubic-bezier(0.34, 1.56, 0.64, 1);
}

.project.animated .project__card-logo {
  transform: translateX(50px) rotate(5deg);
  animation: slideIn 1s 0.7s forwards cubic-bezier(0.34, 1.56, 0.64, 1);
}

.project.animated .project__title {
  animation: textPushFromLeft 1.5s ease forwards;
}

@keyframes waveIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0) rotate(0);
  }
}

@keyframes textPushFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@include tablet {
  @keyframes textPushFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
