.projects {
  display: flex;
  flex-direction: column;
  row-gap: size(40px);

  @include tablet {
    row-gap: size-tablet(30px);
  }

  @include mobile {
    row-gap: size-mobile(20px);
  }
}

.projects__wrapper.section-closed {
  display: none;
}

.projects__wrapper.section-opened {
  margin-bottom: size(40px);
  display: flex;
  flex-direction: column;
  row-gap: size(40px);

  @include tablet {
    margin-bottom: size-tablet(30px);
    row-gap: size-tablet(30px);
  }
}
