.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: size(40px);

  &__wrapper {
    max-width: size(1000px);
    margin: 0 auto;
    padding: size(10px) size(50px) size(50px);
    background-color: $background-section;
    border-radius: $section-radius;
  }

  h3 {
    font-family: $ff-second;
  }
}

.resume__wrapper.section-closed {
  display: none;
}

.resume__wrapper.section-opened {
  display: block;
}
