.section-title {
  max-width: max-content;
  font-family: $ff-extra;
  font-size: size(36px);
  font-weight: 400;
  text-transform: uppercase;
  margin: size(40px) auto 0;
  padding: size(15px);
  border: 2px dashed $color-liner;
  border-radius: 20px;
}
