.section-button {
  max-width: max-content;
  font-family: $ff-extra;
  font-size: size(36px);
  font-weight: 400;
  text-transform: uppercase;
  margin: size(60px) auto 0;
  padding: size(15px);
  border: 2px dashed $color-liner;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;

  @include tablet {
    font-size: size-tablet(32px);
    margin-top: size-tablet(30px);
    padding: size-tablet(15px);
  }

  @include mobile {
    font-size: size-mobile(21px);
    margin-top: size-mobile(20px);
    padding: size-mobile(15px);
  }

  &:hover,
  &:focus,
  &:focus-visible {
    border: 2px dashed transparent;
    background-color: $background-button;
  }
}
