.tech__title {
  font-size: size(20px);
  font-weight: 400;

  @include tablet {
    font-size: size-tablet(18px);
    margin-top: 0;
  }

  @include mobile {
    font-size: size-mobile(15px);
    margin: 0;
    margin-bottom: size-mobile(10px);
  }
}

.tech__list {
  margin: 0;
  padding: 0;
  list-style: inside;
}

.tech__item {
  @include mobile {
    line-height: 1.43;
  }
}
